---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cluster.jnnkrdb.de
  resources:
  - clusterobjects
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cluster.jnnkrdb.de
  resources:
  - clusterobjects/finalizers
  verbs:
  - update
- apiGroups:
  - cluster.jnnkrdb.de
  resources:
  - clusterobjects/status
  verbs:
  - get
  - patch
  - update
