#--------------------------------------------------------------------------------------------------
# DEFAULT GLOBAL CONFIGURATION
global:
  imagePullSecrets: []
  imagePullPolicy:
  imageRegistry:
  storageClass:
  ingressClassName:
  annotations: {}
  labels: {}

#--------------------------------------------------------------------------------------------------
# GENERAL CONFIGURATION
fullnameOverride: 
nameOverride: 
extraDeploy: []
annotations: {}
labels: {}

#--------------------------------------------------------------------------------------------------
# IMAGE CONFIGURATION
image:
  registry: ghcr.io
  repository: jnnkrdb/echosec
  tag:
  digest:
  pullPolicy: Always
  pullSecrets: []

#--------------------------------------------------------------------------------------------------
# DEPLOYMENT CONFIGURATION
deployment:
  replicaCount: 1
  revisionHistoryLimit: 2
  minReadySeconds: 10
  strategy: {}
  
#--------------------------------------------------------------------------------------------------
# POD CONFIGURATION
pod:
  labels: {}
  annotations: {}
  affinity: {}
  securityContext: 
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  nodeSelector:
    kubernetes.io/os: linux
  tolerations: []
  priorityClassName: ""
  schedulerName:
  initContainers: []
  extraVolumes: []
  extraVolumeMounts: []
  sidecarContainers: []
  terminationGracePeriodSeconds: 10
  extraEnvs: []
  extraEnvFrom: []
  containers:
    echosec:
      command: []
      args: []
      workingDir: ""
      resources:
        limits:
          cpu: 500m
          memory: 128Mi
        requests:
          cpu: 10m
          memory: 64Mi
      securityContext: 
        readOnlyRootFilesystem: true
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - "ALL"
      extraEnvs: []
      extraEnvFrom: []
      extraVolumeMounts: []
      healthz: true
